table {
    background-color: orange;
    border: 6px dashed black;
}

td, th, p {
    background-color: blue;
    color: red;
}

th {
    background-color: black;
    border: 3px dashed maroon;
}

#changed {
    border: 10px solid yellow;
}
