h1 {
    color: orange;
    background-color: black;
    font-family: courier;
}

p {
    color: blue;
    background-color: orange;
    font-family: impact;
}

#secondHeader {
    background-color: maroon;
}

#secondParagraph {
    font-family: Arial;
    font-size: 30px;
}
